.button{
    color: transparent;
    border-color: transparent
    
}
.dropdown-menu :hover{
background-color:rgb(196, 124, 29);;
}

.dropdown .dropdown-menu p{
    transition: all 1s ease 
}
.dropdown-menu p{
    position: relative;
    padding: 12px 16px;
     transition: all 1s ease ;
  
}
.dropdown-item p{
 
    position: relative;
    display:inline-flex;
   min-width: 100px;
     transition: all 1s ease ;
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* 
p{
  
    margin: 0.73rem;
} */

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    
}

/* utility class */

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.py-1{ padding: 2rem 0;}

.t-primary{
    color: rgb(196, 124, 29);
}
.t-primarys{
    color:black;
}

.l-head{
    line-height: 1.1;
    margin-bottom: 0.75rem;
 font-size: 2.4rem;
  
}

.l-text{
    font-size: 1.5rem;
    margin-bottom: 0rem;
    padding: 0 0.75rem; 

}
.l-texts{
     font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 0.75rem;
}
.bg-pimary{
    background-color: rgb(196, 124, 29);
    color: white;
}

.bg-light{
    background-color: white;
}

.bg-dark{
    background-color: #333;
    color: white;
}

.btn-dark{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
color: white;
}


.p-2{
    padding: 1rem;
color: white;
}
/* navbar */




.navbar .navlogo{
    font-size: 1.3rem;
}

.navbar{
    /*background-color: white;*/
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;

}

.navbar-nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
   
 

}

.navbar .navbar-nav li a{
    padding: 0.73rem;
    color: white;
    margin: 0 0.25rem;
}


.navbar .navbar-nav li a:hover{
    background-color: rgb(196, 124, 29);
    border-radius: 5px;
}

 .nav-item{
     padding: .5rem;
 }



/* showcase */
.showcase{
    background:  #333 url(../images/sav7.jpg) no-repeat center center/cover;
    height: 100vh;
    color: white;
   
  /*background: url(../images/dd5.jpeg) ; */
    
}
.showcase img{
     opacity:0.2;
}
.showcase .show-container{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    text-align: center;
    align-items: center ;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    /* overlay to amke the backgound image transparent */
   position: absolute;
   top: 110px;
   right: 0;
   left: 0;
   bottom: px;
   background-color: rgba(0, 0, 0, 0.4);
  
   /*background:  url(../images/po7.png) no-repeat center center/cover;*/
   
}


.showcase a{
    color:  white ;
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color:transparent;
    border-radius: 5px;
}


.showcase a:hover{
    background-color:transparent;
}

/* about */
 .abt-container{
     max-width: 1700px;
     margin: auto;
     padding: 0 2rem;
     overflow: hidden;

 }

 #aboutus .abt-head{
     text-align: center;
     line-height: 1.1;
     font-size: 2rem;
 }

 #aboutus .items{
     display: flex;
     padding: 1rem;
     /* text-align: center;
     justify-content: center;
     align-items:  center; */
 }

 #aboutus .items {
     flex: 1;
     padding: 1rem;
     text-align: center;
     color: white;
 }
 #aboutus .item{
     flex: 1;
     padding: 1rem;
     text-align: center;
     color: grey;
 }

 #aboutus .item i{
     background-color: rgb(196, 124, 29)  ;
     padding: 0.5rem;
     border-radius: 50%;
     margin-bottom: 1rem;

 }

 #aboutus .item h3{
     margin-bottom: 1rem;
 }


/* meetus */

#meetus{
    display: flex;

}

#meetus div{
    flex: 1;
}

#meetus .group-img{
    background-image:url(../images/sav5.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#meetus .group-names{
    padding: 2rem 2rem;
}


.carousel-inner img{
    animation: jump 2s linear infinite;
}
#meetus .group-names h3{
    margin-bottom: 1rem;
}


#meetus .group-names .ourteam{
    margin-bottom: 0;
}


#meetus .group-names p{
    margin-bottom: 1rem;
    line-height: 1.1
}


#meetus .group-names ul{
    list-style-type: none;
}


#meetus .group-names ul li{
    padding: 0.5rem 0;
}

/* our clients */
#ourclients{
    padding: 1.1rem 0;
background-color:white;
   
}

#ourclients h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

#ourclients .cli-logo{
    display: grid;
    justify-content: center;
    align-items: center;
grid-template-columns: repeat(3, 1fr);


}
 @media (max-width:768px){
         #ourclients .cli-logo{
                 grid-template-columns: repeat(2,1fr);
            }
             
             
        }
         @media (max-width:500px){
          #ourclients .cli-logo{
                 grid-template-columns: repeat(2,1fr);
            }
        }
.cli-logo img{
    display: block;
    margin: auto;
    width: 50%;
 
}

#ourclients{
    padding: 1.1rem 0;
}

#ourclients h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

#ourclients .cli-logo{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* contact section */
/* 
#contact{
    display: flex;
   
}

#contact .contact-form, 
#contact .contact-map{
    flex: 1;

} */
 
#contact .contact-form{
    max-width: 50%;
    
}

#contact .contact-form .form-group{
    margin: 0.7rem;
    background-color:black;
}


#contact .contact-form .form-group label{
    display: block;
}


#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea{
    width: 100%;
    padding: 0.5rem;

}

/* footer */
 #footer{
     text-align: center;
     padding: 2rem 0;
     color:  grey ;
 }

#footer button{
    margin: 1rem;
}

#footer h3 a{
    margin: 0.5rem;
    padding: 0.5;
 
    
}

#footer h5 a{
    margin: 1rem;
    
 
    
}


            .btn{
                background-color:rgb(196, 124, 29);
                color:black;
                padding: 0.5rem;
              
            }

            
            .btn:hover{
              
                opacity: 0.8;
            }
            
               btn a:hover{
                    background-color:rgb(198,124,29);
                }
                
          





#carousel img{
    height: 500px;
    width: 20px;
    line-height: 10px;
    outline-width:10px;
     
}
    

    .griK{
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
        
        
    }
    .ite {
        padding: 0.2rem;
        border: black 1px solid;
       
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        flex: 1;
       
       
    }
    
        
        .container{
            align-content: center;
        }
        .grid{
            
        display: grid;
       
    
           /* grid-template-columns: repeat(auto-fit minmax(200px, 1fr));*/
            grid-template-columns: repeat(4, 1fr);
            
        }
        
         @media (max-width:768px){
            .grid{
                 grid-template-columns: repeat(2,1fr);
            }
             
             
        }
         @media (max-width:500px){
            .grid{
                 grid-template-columns: repeat(2,1fr);
            }
        }
        .item{
            padding: 1rem;
            
           
            font-size: 1.3rem;
            font-weight: lighter;
            text-align: center;
            justify-content: center;
            margin: 0.4rem ; 
          
     }
         .itemz{
            padding: 1rem;
           
            background:url(images/dd5.jpeg);
            font-size: 1.3rem;
            font-weight: lighter;
            text-align: center;
            margin: 0.4rem ; 
           
     }
        
         .ite img{
            
             animation: jump 2s linear infinite;
             height:25rem;
             width:5rem;
         }
          .itemz a{
              color:black;
              background-color:rgb(196, 124, 29);
              border-radius:10px;
              padding: 0.5rem;
              margin: 0.2rem
          }

         
     
          .itemzz a{
              color:black;
              background-color:rgb(196, 124, 29);
              border-radius:10px;
              padding: 0.1rem;
              margin: 0.2rem
          }
             
         
          .itemzz h6 a{
    margin: 1rem;
    padding: 0.5;
 
    
}
           .g {
        display:flex;
        grid-gap: 0rem;
         /*grid-template-rows: 1fr 1fr 1fr;
               grid-template-columns: repeat(2, 1fr);*/
               grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
               justify-content: center;
      }

      .it {
        padding: 0rem;
        background:url(images/dd5.jpeg);
        border: black 1px solid;
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
      }


          
         
         .itemz img{
            height: 80px;
            width:50px;
             animation: jump 2s linear infinite;
         }
         @keyframes jump{
             0%{
                 transform: translateY(0px)
             }
              50%{
                 transform: translateY(10px)
             }
              100%{
                 transform: translateY(0px)
             }
         }

    #timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}
         
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(196, 124, 29);
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: rgb(196, 124, 29);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
    
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translate(-200px, 0);
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(196, 124, 29) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent  rgb(196, 124, 29); 
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: rgb(196, 124, 29);
}


@media(max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media(max-width: 600px)
{
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(196, 124, 29) transparent transparent;
  }
}

.tits{
     
    font-size: 1.5rem;
}
.title{
    margin-bottom: 2rem;
    font-size: 1.8rem;
   text-align: center;
    color: rgb(196, 124, 29);
}
hr{
    margin: 0.2rem 0;
    color: rgb(196, 124, 29);
}
details{
    padding: 0.5rem 0.5rem;
    background-color: rgb(196, 124, 29);
    opacity: 0.9;
    border-radius: 0.3rem;
}
details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

details > summary::after{
  
    content: url(https://img.icons8.com/ios-glyphs/30/000000/long-arrow-right.png);
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    transition: all 0.3s ease;
    
}
details[open] > summary::after{
    transform: rotate(270deg);
}

details > summary ::-webkit-details-marker{
    display: none;
}

.details-content{
    font-size:1.2rem;
    padding: 0.5rem 0.5rem;
}

.details-content >p {
    margin: 1rem 0;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(196, 124, 29);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
     background-color: rgb(196, 124, 29);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: blue;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:blue;
} 
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color:blue;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color:blue;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background-color:blue;
}
.countdown-container{
  justify-items: center;
  align-items: center;
  display:flex ;
  flex-direction:row;
}

.countdown-container h1{
  margin: 5rem 0 3rem 0;
  font-weight: normal;
}

.countdown-container .timer-container{
  display: flex;
  flex-direction: row;
  line-height: 2rem;
  text-align: center;
  background-position: center center;
  
  
}

.countdown-container .day-count{
  margin: 1.5rem;
}

.countdown-container .timer-container p{
  font-weight: bold;
  font-size: 1.5rem;

}
.countdown-container .timer-container span{
  font-size: 1.5rem;
}


